<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>834672013615-quutd7537mno7ptpf5eaq3m4plcvai72.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.834672013615-quutd7537mno7ptpf5eaq3m4plcvai72</string>
	<key>API_KEY</key>
	<string>AIzaSyAr1weObS7mIUc1cgnT9gcO3qSBkvq3u7c</string>
	<key>GCM_SENDER_ID</key>
	<string>834672013615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wsn.beacon</string>
	<key>PROJECT_ID</key>
	<string>beacon-7ffc1</string>
	<key>STORAGE_BUCKET</key>
	<string>beacon-7ffc1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834672013615:ios:cbaffec2080b80427e31da</string>
</dict>
</plist>